.feature-class{
    background-image: url(../../../assets/shop/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    z-index: -10px;
    
}